/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 4760px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    margin-top: 30px;
    border-style: none;
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background: #FF900E;
    color: white;
}

/* header style  */
header {
    background: rgba(255, 144, 14, 0.10);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    cursor: pointer;
    font-size: 45px;
}

.nav-items ul {
    display: flex;
    list-style: none;
}

.nav-items ul li {
    cursor: pointer;
    font-size: 18px;
    margin-right: 40px;
}

/* --------------------- */
.section-one {
    margin-top: 100px;
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 65px;
}

.header-slogan {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}

.header-banner {
    padding-top: 70px;
    padding-bottom: 45px;
}

/* Section two Styles */
.section-two {
    margin-top: 85px;
}

.quick-list-section {
    align-items: center;
    gap: 80px;
    display: flex;
    margin: 0px auto;
}

.img-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-group img {

    margin: 5px;
}

.quick-item h4 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
}

.quick-list {
    font-weight: normal;
    color: #727272;
}

.features {
    color: #FF900E;
}

.quick-item p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    color: #727272;
}

/* Section three styles */
.section-three {
    margin-top: 130px;
}

.title-box {
    margin-right: 20px;
    width: 5px;
    height: 100px;
    background: #FF900E;
}

.three-title {
    display: flex;
}

.features-section {
    display: flex;
    gap: 100px;
}

.features-text-side h2 {
    font-size: 45px;
    margin: 0;
}

.f-p {
    font-weight: 600;
}

.features-text-side p {
    color: #727272;
    font-size: 16px;
}

.features-cart {
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 10px 0 rgba(226, 226, 226, 0.2), 0 6px 10px 0 rgba(180, 180, 180, 0.19);
}
.features-cart h3{
    color: #666565;
}

.img-section img {
    margin-left: 80px;
}

.img-bottom-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
}

.img-bottom-box {
    position: relative;
    margin-top: -120px;
    z-index: 1;
}

.ten {
    margin: 0;
    font-weight: bold;
    font-size: 45px;
    color: white;
}

.exp {
    margin: 0;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

/* Section Four Syles */
.some-facts {
    text-align: center;
    margin-top: 150px;
}

.some-facts h2 {
    font-size: 45px;
    margin: 0;
}

.some-facts p {
    font-size: 16px;
    color: #727272;
}

.section-four {
    margin-top: 100px;
}

.facts-section {
    display: flex;
    gap: 125px;

}

.fact-box {
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border: 2px solid orange;
}

.fact-img {
    text-align: center;
    width: 45px;
    height: 45px;
}

.number {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}

.title {
    font-size: 20px;
    color: #727272;
    margin: 0;
}

/* Section Five Style */
.sponser-section {
    margin-top: 50px;
    display: flex;
    gap: 120px;
}

.spn-box img {
    width: 166px;
    height: 50px;
}

/* footer */
.footer {
    margin-top: 130px; 
} 
.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
}
.copyright p > a{
    text-decoration: none;
    font-weight: bold;
    color: #FF900E;
}